<div class="about-container">
  <div class="about-box">
    <h2>About Page</h2>

    <div class="erd-section">
      <h3>Current Entity-Relationship Diagram (ERD)</h3>
      <img [src]="imagePath" alt="ERD Image" />
    </div>

    <div class="functionalities-section">
      <h3>Current Functionalities</h3>
      <ul>
        <li>Login and register (URL: /login, /register)</li>
        <li>
          CRUD operations for Cars (URL: /car) <- You have to be logged in to
          access this URL.
        </li>
      </ul>
    </div>
  </div>
</div>
