<div class="product-container">
  <div class="product-box">
    <a class="btn btn-primary" [routerLink]="['/product']"> Go back </a>
    <div class="details-container">
      <div class="product-image-container">
        <img
          [src]="product?.imageUrl"
          alt="Product Image"
          class="product-image"
        />
      </div>

      <div class="product-details-container">
        <div class="info-row">
          <div class="info-label">Product Name:</div>
          <div>{{ product?.productName }}</div>
        </div>

        <div class="info-row">
          <div class="info-label">Price:</div>
          <div>{{ product?.price }}</div>
        </div>

        <div class="info-row">
          <div class="info-label">Description:</div>
          <div>{{ product?.description }}</div>
        </div>

        <div class="info-row">
          <div class="info-label">Category:</div>
          <div>{{ product?.category }}</div>
        </div>

        <div class="info-row">
          <div class="info-label">Brand:</div>
          <div>{{ product?.brand }}</div>
        </div>

        <div class="info-row">
          <div class="info-label">Published by:</div>
          <div>{{ product?.userEmail }}</div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row mb-3">
        <div class="col-md-12 text-center">
          <a class="btn btn-warning" (click)="updateProduct()">
            Update product
          </a>
          <a class="btn btn-danger" (click)="deleteProduct()">
            Delete product
          </a>
          <a class="btn btn-info" (click)="likeProduct(product?._id!)"
            >Like Product</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
