<div class="car-container">
  <div class="car-box">
    <div
      class="form-group"
      *ngIf="activeTab === 'allCars' || activeTab === 'myCars'"
    ></div>

    <div class="tabs">
      <button (click)="showAllCars()">All Cars</button>
      <button (click)="showMyCars()">My Cars</button>
    </div>

    <div class="car-list" *ngIf="activeTab === 'allCars'">
      <div class="car-card" *ngFor="let car of cars" (click)="onSelectCar(car)">
        <div class="info-row">
          <div class="info-label">Car Model:</div>
          <div>{{ car.carModel }}</div>
        </div>

        <!-- Add other fields from Car model -->

        <div class="car-buttons">
          <button (click)="onSelectCar(car)">View</button>
        </div>
      </div>
    </div>

    <div class="car-list" *ngIf="activeTab === 'myCars'">
      <div
        class="car-card"
        *ngFor="let myCar of myCars"
        (click)="onSelectCar(myCar)"
      >
        <div class="info-row">
          <div class="info-label">Car Model:</div>
          <div>{{ myCar.carModel }}</div>
        </div>

        <!-- Add other fields from Car model -->

        <div class="car-buttons">
          <button (click)="onUpdateCar(myCar)">Update</button>
          <button (click)="onDeleteCar(myCar._id!)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
