.car-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  position: relative;
}

.car-box {
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 20px;
  width: 65%;
  height: 50em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  margin: 20px;
  position: relative;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.tabs {
  margin-bottom: 20px;
}

.tabs button {
  width: 120px;
  padding: 8px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.tab-button.active {
  background-color: #0056b3;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.car-card {
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  color: white;
  width: 250px;
}

.car-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.car-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
}

.car-buttons button {
  padding: 8px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
