<div class="car-container">
  <div class="car-box mt-4">
    <ng-container *ngIf="isCarOwner; else noPermission">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-12">
            <a
              class="btn btn-primary"
              [routerLink]="['/car/details', car!._id]"
            >
              Go back
            </a>
          </div>
        </div>
      </div>
      <form [formGroup]="carForm" (ngSubmit)="updateCar()">
        <div class="form-group">
          <label for="carModel">Car Model</label>
          <input type="text" id="carModel" formControlName="carModel" />
          <div
            *ngIf="carForm.get('carModel')?.hasError('required')"
            class="error-message"
          >
            Car Model is required
          </div>
        </div>

        <div class="form-group">
          <label for="carModel">Image URL</label>
          <input type="text" id="imageUrl" formControlName="imageUrl" />
          <div
            *ngIf="carForm.get('imageUrl')?.hasError('required')"
            class="error-message"
          >
            Image URL is required
          </div>
        </div>

        <div class="form-group">
          <label for="counter">Counter</label>
          <input type="number" id="counter" formControlName="counter" />
          <div
            *ngIf="carForm.get('counter')?.hasError('required')"
            class="error-message"
          >
            Counter is required
          </div>
        </div>

        <div class="form-group">
          <label for="typeOfFuel">Type of Fuel</label>
          <select id="typeOfFuel" formControlName="typeOfFuel">
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="Electric">Electric</option>
          </select>
          <div
            *ngIf="carForm.get('typeOfFuel')?.hasError('required')"
            class="error-message"
          >
            Type of Fuel is required
          </div>
        </div>

        <div class="form-group">
          <label for="transmissionType">Transmission Type</label>
          <select id="transmissionType" formControlName="transmissionType">
            <option value="Automatic">Automatic</option>
            <option value="Manual">Manual</option>
          </select>
          <div
            *ngIf="carForm.get('transmissionType')?.hasError('required')"
            class="error-message"
          >
            Transmission Type is required
          </div>
        </div>

        <div class="form-group">
          <label for="apk">APK</label>
          <input type="checkbox" id="apk" formControlName="apk" />
        </div>

        <div *ngIf="carForm.get('apk')?.value" class="form-group">
          <label for="apkExpires">APK Expires</label>
          <input type="date" id="apkExpires" formControlName="apkExpires" />
          <div
            *ngIf="carForm.get('apkExpires')?.hasError('required')"
            class="error-message"
          >
            APK Expires is required when APK is selected
          </div>
        </div>

        <div class="form-group">
          <label for="numberPlate">Number Plate</label>
          <input type="text" id="numberPlate" formControlName="numberPlate" />
          <div
            *ngIf="carForm.get('numberPlate')?.hasError('required')"
            class="error-message"
          >
            Number Plate is required
          </div>
        </div>

        <div class="form-group">
          <label for="constructionYear">Construction Year</label>
          <input
            type="number"
            id="constructionYear"
            formControlName="constructionYear"
          />
          <div
            *ngIf="carForm.get('constructionYear')?.hasError('required')"
            class="error-message"
          >
            Construction Year is required
          </div>
        </div>

        <div class="container mt-5">
          <div class="row mb-3">
            <div class="col-md-12 text-center">
              <button class="btn btn-warning" type="submit">Update car</button>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-template #noPermission>
      <p>Permission denied: You cannot delete this car.</p>
      <div class="container mt-5">
        <div class="row mb-3">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" [routerLink]="['/car']">
              Go to Car List
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
