<div class="car-container">
  <div class="car-box mt-4">
    <ng-container *ngIf="isCarOwner; else noPermission">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-12">
            <p>Are you sure you want to delete this car?</p>
            <p><strong>Car Model:</strong> {{ car?.carModel }}</p>
            <p><strong>Number Plate:</strong> {{ car?.numberPlate }}</p>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row mb-3">
          <div class="col-md-12 text-center">
            <button class="btn btn-danger" (click)="deleteCar()">
              Delete car
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noPermission>
      <p>Permission denied: You cannot delete this car.</p>
      <div class="container mt-5">
        <div class="row mb-3">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" [routerLink]="['/car']">
              Go to Car List
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
