<div class="user-profile-container">
  <div class="user-profile-box">
    <div class="user-details">
      <h2>Your Profile</h2>
      <div>
        <p>Email: {{ user?.email }}</p>
        <p>First Name: {{ user?.firstName }}</p>
        <p>Last Name: {{ user?.lastName }}</p>
        <p>Age: {{ user?.age }}</p>
      </div>
      <div class="following-info">
        <p>Following:</p>
        <ul>
          <li *ngFor="let following of user?.following">
            {{ following.followingUser }}
          </li>
        </ul>
      </div>

      <a class="btn btn-primary" [routerLink]="['/users']">All users</a>
    </div>

    <div class="recommended-items">
      <h2>Recommended Cars</h2>
      <ul>
        <li *ngFor="let car of recommendedCars">
          <span>{{ car.carModel }}</span>
          <a
            class="btn btn-primary btn-recommendation"
            [routerLink]="['/car/details/', car._id]"
            >View Details</a
          >
        </li>
      </ul>

      <h2>Recommended Products</h2>
      <ul>
        <li *ngFor="let product of recommendedProducts">
          <span>{{ product.name }}</span>
          <a
            class="btn btn-primary btn-recommendation"
            [routerLink]="['/product/details/', product._id]"
            >View Details</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
