<div class="product-container">
  <div class="product-box mt-4">
    <ng-container *ngIf="isProductOwner; else noPermission">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-12">
            <p>Are you sure you want to delete this product?</p>
            <p><strong>Product Name:</strong> {{ product?.productName }}</p>
            <p><strong>Price:</strong> {{ product?.price }}</p>
            <p><strong>Description:</strong> {{ product?.description }}</p>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row mb-3">
          <div class="col-md-12 text-center">
            <button class="btn btn-danger" (click)="deleteProduct()">
              Delete product
            </button>

            <button
              class="btn btn-primary mt-3"
              [routerLink]="['/product/details', product!._id]"
            >
              Go back
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noPermission>
      <p>Permission denied: You cannot delete this product.</p>
      <div class="container mt-5">
        <div class="row mb-3">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" [routerLink]="['/product']">
              Go to Product List
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
